@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: flex;
  height: 100vh;
  font-family: 'Lakki Reddy';
}

.sidebar {
  width: 500px;
  background: #f4f4f4;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  padding: 10px;
  background: #eaeaea;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #ddd;
}

#map {
  flex: 1;
}
